.capa {
    background-image: url('/CapaIndex.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    position: relative;
}

.capa p {
    position: absolute;
    left: 6%;
    bottom: 60px;
    font-size: 2.2rem;
    width: 50%;
    color: #efeae1;
}

.navImg {
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxGrande {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    aspect-ratio: 1/1;
}

.imgCumprido {
    width: 96%;
    height: 46%;
    margin: 2%;
}

.imgQuadrado {
    width: 46%;
    height: 46%;
    margin: 2%;
}

.imgCumprido,
.imgQuadrado,
.imgEspecial {
    position: relative;
    overflow: hidden;
}

.imgCumprido img,
.imgQuadrado img,
.imgEspecial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 900ms;
}

.imgCumprido:hover img,
.imgQuadrado:hover img,
.imgEspecial:hover img {
    transform: scale(1.2);
}

.imgCumprido::before,
.imgQuadrado::before,
.imgEspecial::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.imgCumprido p,
.imgQuadrado p,
.imgEspecial p {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #efeae1;
    font-size: 1.7rem;
    z-index: 2;
}

.boxPequeno {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    aspect-ratio: 1/2;
}

.imgEspecial {
    width: 96%;
    height: 46%;
    margin: 4%;
}