.footbox {
    height: 115.8px;
    background-color: #c4b295;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1vh 5vw;
}

.text1,
.text2 {
    color: #4b4e58;
    width: 30%;
    font-size: 1.2rem;
}

.divisor {
    height: 80%;
    width: 3px;
    background-color: #4b4e58;
}

.footbotao {
    background-color: #4b4e58;
    padding: 10pt 35pt;
    color: #efeae1;
    border: none;
    border-radius: 10px;
}