.inputBox {
    background-color: #dad2bc;
    width: 30vw;
    height: 70vh;
    margin: 5% auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelFloat input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 4px solid #4b4e58;
    background-color: transparent;
    outline: none;
    font-size: 15pt;
    transition: all .3s ease-out;
    border-radius: 0;
    color: #4b4e58;
}

.labelFloat {
    position: relative;
    padding-top: 13px;
    margin: 5% 0;
    width: 70%;
}

.labelFloat input:focus {
    border-bottom: 6px solid #70798c;
}

.labelFloat label {
    color: #4b4e58;
    pointer-events: none;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.labelFloat input:focus+label,
.labelFloat input:valid+label {
    font-size: 1rem;
    margin-top: 0;
    color: #70798c;
}

.inputBotao {
    width: 45%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.inputBotao button {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: #4b4e58;
    border-radius: 10px;
    color: #dad2bc;
    font-size: 1.5rem;
}

@media only screen and (max-width:800px) {
    .inputBox {
        width: 90%;
        height: 50vh;
    }
}